<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.university.persistence.StudentContactRepository">
    <insert id="createStudentContact" keyColumn="student_contact_id" keyProperty="studentContactId">
        INSERT
        INTO student_contacts (student_id, phone, email)
        VALUES (#{studentId}, #{phone}, #{email})
    </insert>

    <select id="getAllStudentContacts" resultMap="AllStudentContactsResultMap">
        SELECT * FROM student_contacts;
    </select>

    <resultMap id="AllStudentContactsResultMap" type="com.solvd.university.domain.StudentContact" autoMapping="false">
        <id column="student_contact_id" property="studentContactId"/>
        <result column="student_id" property="studentId"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>
</mapper>